/* Custom Stylesheet */

/* .icon-block {
  padding: 0 15px;
} */

/* .icon-block .material-icons {
	font-size: inherit;
} */

header, main, footer {
  padding-left: 300px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#selfie {
  max-width: 50%;
  height: auto;
  margin-top: 10%;
}

.intro {
  min-height: 100vh;
}

#job-title{
  margin: 0 auto;
}

.carousel .carousel-item {
  width: 80% !important;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}